body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.des-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.des-container h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  margin-bottom: 10px;
}

.des-container p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 460px) {
    .container {
        width: 90%;
        max-width: 280px; 
        top: auto; 
        padding: 20px 15px;
        margin-top: 30%;
    }

    .header {
        font-size: 1.1rem; 
    }

    .para {
        font-size: 0.9rem; 
        margin: 5% 8% 10%; 
    }

    .attribution {
        position: static; 
        margin-top: 20px;
    }
}
